<div class="swap-container">
  <h2>Confidential Swap</h2>
  <div class="swap-box">
    <div class="swap-label">Sell</div>
    <div class="input-row">
      <div class="amount-input">
        <input type="number" id="from-amount" placeholder="0" [disabled]="!isWalletConnected">
      </div>
      <div class="token-select">
        <img src="https://token-icons.s3.amazonaws.com/eth.png" alt="Ethereum Logo" class="token-icon">
        <select id="from-token" [disabled]="!isWalletConnected">
          <option value="ETH">ETH</option>
          <option value="USDT">USDT</option>
          <option value="USDC">USDC</option>
          <option value="WBTC">WBTC</option>
        </select>
      </div>
    </div>
  </div>
  <div class="swap-box buy-box">
    <div class="swap-label">Buy</div>
    <div class="input-row">
      <div class="amount-input">
        <input type="number" id="to-amount" placeholder="0" readonly [disabled]="!isWalletConnected">
      </div>
      <div class="token-select">
        <img src="https://coin-images.coingecko.com/coins/images/6319/large/usdc.png?1696506694" alt="USDC Logo" class="token-icon">
        <select id="to-token" [disabled]="!isWalletConnected">
          <option value="USDT">USDT</option>
          <option value="ETH">ETH</option>
          <option value="USDC">USDC</option>
          <option value="WBTC">WBTC</option>
        </select>
      </div>
    </div>
  </div>
  <button class="swap-button" *ngIf="isWalletConnected" (click)="handleSwap()">Swap</button>
  <button class="swap-button connect-button" *ngIf="!isWalletConnected" (click)="connectWallet()">Connect Wallet</button>
  <p>Swap is powered by Token-2022 Confidential Balances. Transaction amounts are encrypted using zk-proofs, while maintaining on-chain verifiability</p>
</div>