<div class="swap-container">
  <h2>Confidential Swap</h2>
  <div class="swap-box">
    <div class="swap-label">Sell</div>
    <div class="input-row">
      <div class="amount-input">
        <input type="number" id="from-amount" placeholder="0" [disabled]="!isWalletConnected">
      </div>
      <div class="token-select">
        <img [src]="selectedFromTokenImage" alt="Token Logo" class="token-icon">
        <select id="from-token" [disabled]="!isWalletConnected" (change)="updateFromTokenImage($event)">
          <option value="cSOL" data-image="assets/images/csol.png">cSOL</option>
          <option value="cUSDT" data-image="assets/images/cusdt.png">cUSDT</option>
          <option value="cUSDC" data-image="assets/images/cusdc.png">cUSDC</option>
          <option value="cSALE" data-image="assets/images/csale.png">cSALE</option>
          <option value="cMNTL" data-image="assets/images/cmntl.png">cMNTL</option>
        </select>
      </div>
    </div>
  </div>
  <div class="swap-box buy-box">
    <div class="swap-label">Buy</div>
    <div class="input-row">
      <div class="amount-input">
        <input type="number" id="to-amount" placeholder="0" readonly [disabled]="!isWalletConnected">
      </div>
      <div class="token-select">
        <img [src]="selectedToTokenImage" alt="Token Logo" class="token-icon">
        <select id="to-token" [disabled]="!isWalletConnected" (change)="updateToTokenImage($event)">
          <option value="cSOL" data-image="assets/images/csol.png">cSOL</option>
          <option value="cUSDT" data-image="assets/images/cusdt.png">cUSDT</option>
          <option value="cUSDC" data-image="assets/images/cusdc.png">cUSDC</option>
          <option value="cSALE" data-image="assets/images/csale.png">cSALE</option>
          <option value="cMNTL" data-image="assets/images/cmntl.png">cMNTL</option>
        </select>
      </div>
    </div>
  </div>
  <button class="swap-button" *ngIf="isWalletConnected" (click)="handleSwap()">Swap</button>
  <button class="swap-button connect-button" *ngIf="!isWalletConnected" (click)="connectWallet()">Connect Wallet</button>
  <p>Swap is powered by Token-2022 Confidential Balances. Transaction amounts are encrypted using zk-proofs, while maintaining on-chain verifiability</p>
</div>