.swap-container {
  background-color: #000000;
  padding: 24px;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 6px;
  font-weight: normal;
}

.swap-box {
  background-color: #000;
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 6px;
  min-height: 100px;
  border: 1px solid #333;
}

.swap-box.buy-box {
  background-color: #1a1a1a;
}

.swap-box.buy-box input {
  background-color: #1a1a1a;
}

.swap-label {
  color: #666;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.amount-input {
  flex: 0.7;
  height: 80px;
}

.amount-input input {
  height: 100%;
  font-size: 24px;
}

.token-select {
  flex: 0.3;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.3);
  border-radius: 36px;
  padding: 2px;
  position: relative;
}

.token-select select {
  border: 1px solid #333;
  box-shadow: none;
  padding-left: 35px;
  border-radius: 28px;
}

.token-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

select {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 6px;
  border-radius: 36px;
  width: 100%;
  font-size: 16px;
  height: 40px;
}

input {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 6px;
  border-radius: 24px;
  width: 100%;
  font-size: 30px;
  height: 60px;
}

input:focus, select:focus {
  outline: none;
}

.swap-button {
  background-color: #b514ed;
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}

.swap-button:hover {
  background-color: #444;
}

p {
  color: #666;
  font-weight: normal;
  font-size: 15px;
  margin-top: 30px;
  text-align: start;
}

.connect-button {
  background-color: #9945FF; /* Purple Solana-themed color */
}